{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:prettier/recommended"
  ],
  "plugins": ["unused-imports"],
  "rules": {
    "unused-imports/no-unused-imports": "warn",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "prettier/prettier": "error"
    // "quotes": [
    //   "error",
    //   "single",
    //   { "avoidEscape": true, "allowTemplateLiterals": false }
    // ]
  }
}
